main {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(124,177,22,1) 100%);
}
.nav1 {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,124,177,1) 100%);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  .header p {
    margin: 0;
    font-size: 18px;
  }
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  .centrar {
    text-align: center;
    
  }
  .btn{
    margin-bottom: 20px;
  }